@font-face {
    font-family:font-1 ;
    src: url(../asset/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Bold.otf);
}

@font-face {
    font-family:font-2 ;
    src: url(../asset/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Regular.otf);
}
@font-face {
    font-family:font-3 ;
    src: url(../asset/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Semibold.otf);
}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background: #fff;   
    height: 100vh;
 }
 .blur{
    display: none;
    position: relative;
    background: rgb(0, 0, 0 0.1);
    width: 100%;
    height: 100vh;
    z-index: 100;
    backdrop-filter: blur(40 100px);
 }
 button{
    cursor: pointer;
 }
 

 .search{
    display: flex;
    align-items: center;
    width: 750px;
    height: 60px;
    font-size: 18px;
    background: #e6e6e6;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    box-shadow: 0px 0px 3px  rgba(209, 207, 207, 0.3);
    border-radius: 7px;
    outline: none;
 }
 form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    
 }
 .search  input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-family:font-2;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(10, 10, 10, 0.925);
 }
 
 .logo{
    margin-top: 40px;
    margin-left: 20px;
 }

 .logo a{
    text-decoration: none;
    font-size: 28px;
    font-family: font-3;
    font-weight: bold;
    color: #ffff;
    
}

.mid-sec{
    position: absolute;
    left: 290px;
    top: 20px;


    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex: 1;
}
.cover{
    display: flex;
    align-items: center;


    width: 100px;
    height: 35px;
    margin-left: 20px;
    border-radius: 7px;
}
.cover button{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: green;
    border: none;
    color: #fff;
    font: 16px;
    font-family: font-3;
    border-radius: 7px;
}
.filter{
    display: flex;
    align-items: center;


    width: 100px;
    height: 35px;
    margin-left: 20px;
    
}
.filter-icon {
    font-size: 17px;
}
.filter button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: green;
    border: none;
    color: #fff;
    font: 17px;
    font-family: font-3;
    border-radius: 7px;
}
.profile{
    display: flex;
    align-items: center;


    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-left: 30px;
  
}
.profile button{
 width: 100%;
 height: 100%;  
 background: #e6e6e6;
 border: none;
 border-radius: 170px;
 
}
.user-icon{
  color:#242424d3;
  font-size: 30px;
}
.book-sec{
    position: absolute;
    left: 290px;
    top: 90px;
    z-index: 0;
}

.book-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    row-gap: 40px;
    margin-top: 30px;

   
    
}
.book-cont{
    display: flex;
    justify-content: center;
    width:150px;
    height: 200px;
    background: #ebe9e9a9;
    border-radius: 7px;


}
.book{
    display: flex;
    justify-content: center; 
  
   
}
#book img{
    width:150px;
    height: 200px; 
    border-radius: 10px;
}

.book-cont:hover {
    filter: brightness(0.8); 
}

.book-info{
    background: #ebe9e946;
    border-radius: 7px;
    border-radius: 7px;
    height: 30px;
    margin-top: 10px;
    width: 150px;
}
.book-info p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: font-2;
    color: black;
}

.blu {
    display: none;
    position: fixed;
    background: rgba(148, 148, 148, 0.281);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px); 
    width: 100vw;
    height: 100vh;
    z-index: 111;
   
   
}
.modal{
   width: 300px;
   height: 200px;
   background: #ffffffc5; 
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   border-radius: 7px;
   z-index: 1111;
   background-image:url(../asset/images/depositphotos_92573570-stock-photo-blur-green-nature-defocused-background.jpg) ;   
   background-blend-mode: lighten;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:  10px;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 200px;

}
.modal-content h2{
    font-size: 16px;
    font-family:font-3;
    font-weight: bold;
    color: #000;
}
.subtitle{
    color: blue;
}

.close-btn {
    cursor: pointer;
    font-size: 16px;
    border: 1px solid green;
    background: green;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    font-family: font-3;
    color: #ffffff;
    z-index: 112;
}

/* sidebar start */
.sidebar{
    background: #015a01;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    bottom: 0;  
    z-index: 0; 
}


.sidetext{
 margin-left: 20px;
 margin-right: 40px;
 
}

.links{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin: 40px auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    
    

}
.lin{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin: 40px auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
}
.lin button{
    display: flex;
    align-items: center;
    color: #ffff;
    font-size:18px;
    text-decoration: none;
    font-weight: 600;
    border: none;
    background: none;
    font-family: font-2;
}
.links button {
    display: flex;
    align-items: center;
    color: #ffff;
    font-size:16px;
    text-decoration: none;
    font-weight: 600;
    border: none;
    background: none;
    font-family: font-2;
}
.links i{
    margin-right: 4px;
}
.lin {
    background: white;
   
}
#library{
    color: green;
}

.bookicon{
    display: flex;
    align-items: center;
}
.links a:hover{
    color: green;
}
.ricon{
    font-size: 18px;
    font-weight: bold;
    font-family: font-2;
    margin-right: 4px;
    
}
 
.users{
    display: flex;
    align-items: center;
}
.users p{
    text-decoration: none;
    font-size: 16x;
    font-family:font-3 ;
    color: #ffffff;
    margin-left: 30px;
    margin-right: 0;
}


/* sidebar end */
/* main-sectionstart */
 
/* main-sectionend */