@font-face {
    font-family:font-1 ;
    src: url(../asset/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Bold.otf);
}

@font-face {
    font-family:font-2 ;
    src: url(../asset/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Regular.otf);
}
@font-face {
    font-family:font-3 ;
    src: url(../asset/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Semibold.otf);
}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background: #fff;   
    height: 100vh;
 }
 .blur{
    position: relative;
    background: rgb(0, 0, 0 0.1);
    width: 100%;
    height: 100vh;
    z-index: 100;
    backdrop-filter: blur(4  npx);
 }
 
 
 .input{
    
    width: 500px;
    height: 50px;
    font-size: 18px;
    background: #cccaca;
    color: #ffff;
    padding-left: 20px;
    font-family:font-3 ;
    font-weight: lighter;
    border: none;
    box-shadow: 0px 0px 3px  rgba(209, 207, 207, 0.3);
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    outline: none;
 }

 .search{
    display: flex;
    align-items: center;
 }
 #searchButton{
    width: 100px;
    height: 50px;
    font-size: 20px;
    background: green;
    color: #ffff;
    margin-left: -3px;
    font-family:font-1 ;
    font-weight: 600;
    border: none;
    box-shadow: 0px 0px 3px  rgba(209, 207, 207, 0.3);
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
 }
 .logo{
    margin-top: 40px;
    margin-left: 20px;
 }

 .logo a{
    text-decoration: none;
    font-size: 28px;
    font-family: font-3;
    font-weight: bold;
    color: #ffff;
    
}

.mid-sec{
    position: absolute;
    left: 360px;
    top: 20px;


    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.book-sec{
    position: absolute;
    left: 360px;
    top: 90px;
    z-index: 0;
}

.book-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 40px;
    row-gap: 40px;
    margin-top: 30px;

   
    
}
.book-cont{
    display: flex;
    justify-content: center;
    width:210px;
    height: 300px;
    background: #ebe9e9a9;
    border-radius: 7px;


}
.book{
    display: flex;
    justify-content: center; 
  
   
}
#book img{
    width:210px;
    height: 300px; 
    border-radius: 10px;
}


.book-info{
    background: #ebe9e946;
    border-radius: 7px;
    border-radius: 7px;
    height: 30px;
    margin-top: 10px;
    width: 200px;
}
.book-info p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: font-2;
    color: black;
}


/* sidebar start */
.sidebar{
    background: #015a01;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    bottom: 0;  
    z-index: 0; 
}


.sidetext{
 margin-left: 20px;
 margin-right: 40px;
 
}

.links{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin: 40px auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    
    

}
.lin{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin: 40px auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
}
.lin button{
    display: flex;
    align-items: center;
    color: #ffff;
    font-size:18px;
    text-decoration: none;
    font-weight: 600;
    border: none;
    background: none;
    font-family: font-2;
}
.links button {
    display: flex;
    align-items: center;
    color: #ffff;
    font-size:18px;
    text-decoration: none;
    font-weight: 600;
    border: none;
    background: none;
    font-family: font-2;
}
.links i{
    margin-right: 4px;
}
.lin {
    background: white;
   
}
#library{
    color: green;
}

.bookicon{
    display: flex;
    align-items: center;
}
.links a:hover{
    color: green;
}
.ricon{
    font-size: 18px;
    font-weight: bold;
    font-family: font-2;
    margin-right: 4px;
    
}

.bots{
    background: none;
    border: none;
    color: #ffff;
    background: green;
    height: 40px;
    margin-left: 5px;
    width: 100px;
    border-radius: 7px;
    font-weight: 600;
    font-family: font-2;
    font-size: 15px;
}

   
.bots:hover{
    color: rgb(22, 29, 22);
}
.users{
    display: flex;
    align-items: center;
}
.users p{
    text-decoration: none;
    font-size: 16x;
    font-family:font-3 ;
    color: #ffffff;
    margin-left: 30px;
    margin-right: 0;
}


/* sidebar end */
/* main-sectionstart */
 
/* main-sectionend */