@font-face {
    font-family:font-1 ;
    src: url(../asset/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Light.otf);
}
@font-face {
    font-family:font-2 ;
    src: url(../asset/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Regular.otf);
}
@font-face {
    font-family:font-3 ;
    src: url(../asset/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Semibold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background:#ffff;
    overflow-x: auto;
    
 }
 .general-container{
    display: flex;
 }
/* sidebar start */
.logo a{
    text-decoration: none;
    color: green;
    font-size: 24px;
    font-family: font-3;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
    position: absolute;
}

.sidebartop{
    background: #06200a;
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 180px;    
}

.sidebar{
    background: #06200a;
    position: fixed;
    top: 65px;
    left: 0;
    width: 180px;
    bottom: 0;
    flex: 1;
    box-shadow: 0px 0px 3px  rgb(0, 0, 0,0.3);

    
}


.sidetext{
 margin-top: 10px;
 margin-left: 15px;
 display: inline-block;
}
.links{
    margin: 35px auto;
    background: rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    
    

}
.links a{
    color: #ffff;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    font-family: font-1;
   
}
.links i{
    margin-right: 4px;
}
.links a:hover{
    color: green;
}
.bots{
    background: none;
    border: none;
    color: #ffff;
    font-weight: 600;
    font-family: font-1;
    font-size: 15px;
}
.bots:hover{
    color: green;
}
.namea{
    background: white;
    width: 100px;
    height: 100px;
    margin-left: 15px;
    border-radius: 7px;
    margin-top: -10px;
}
.avatar{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
   
}
.avatar img{
    width: 80px;
    height: 80px;
}
.user{
    display: flex;
    justify-content: center;
     text-align: center;
    color: #06200a;
    font-size: 15px;
    margin-bottom: 20px;
    
}
.user p, a{
    text-decoration: none;
    font-size: 12px;
    font-family:font-3 ;
}

/* sidebar end */
/* profilesection-start */
.profilsec{
    position: absolute;
    height: 100%;
    background: #ffff;
    flex: 1;
   
    

}
.profil{
    position: absolute;
    background: #d4dee7;
    top: 20%;
    right: 2%;
    left: 18%;
    height: 400px;
}
.fs{
    
    height: 100%;
    background: #06200a;
    
} 
.hand{
    display: flex;
    justify-content: center;
    
    
}
.hand i{
    font-size: 80px;
    color: green;
    margin-top: 40px;
    margin-bottom: 20px;
}
h3{
    font-size: 40px;
    font-weight: 600;
    font-family: font-3;
    color: #ffff;
   
}
h4{
    font-size: 20px;
    font-weight: 600;
    font-family: font-2;
    line-height: 50px;
    color: #ffff;
   
}
.info{
    font-size: 18px;
    font-weight: light;
    font-family: font-1;
    line-height: 50px;
    color: green; 
    border: none;
    background: none;
}
.text{
    text-align: center;
}
.signout{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signout button{
    width: 500px;
    margin-top: 30px;
    height: 50px;
    border: none;
    background: green;
    color: #ffffff;
    font-size: 20px;
    font-family: font-2;
    font-weight: bold;
    border-radius: 7px;
}
/* profilesection-end */

#popup{
    position: fixed;
    width: 506px;
    background:#ffff;
    left: 33%;
    top: 6rem;
  
    padding: 20px 20px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0,0.2);
    border-radius: 7px;
    visibility: hidden; 
}
#popup.show{
    visibility: visible;
}


.input-box input{
    width: 100%;
    padding: 15px;
    margin-top: 50px;
    border-radius: 7px;
    border:1px solid #06200a;
    font-size: 20px;
    color: #06200a;
    font-family: font-1;
}
input::placeholder{
    font-size: 20px;
    color: #06200a;
    font-family: font-1;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.button  button{
    width: 100%;
    background: green;
    border: none;
    padding: 15px;
    border-radius: 7px;
    color: #ffff;
    font-size: 18px;
    font-family: font-1;
    font-weight: bold;
}
h2{
    color: #06200a;
    font-family: font-1;
    font-weight: bold;
}
.x-mark button{
    font-size: 40px;
    border: none;
    background: none;
    color: green;
    margin-left: 70px;
}
.update{
 display: flex;
 justify-content: space-between;

}
 